@font-face {
	font-family:"Coolvetica Bk";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/CoolveticaBk-Regular.otf");
}
@font-face {
	font-family:"Coolvetica El";
	font-style:italic;
	font-weight:200;
	src : url("../../font/CoolveticaEl-Italic.otf");
}
@font-face {
	font-family:"Coolvetica El";
	font-style:oblique;
	font-weight:200;
	src : url("../../font/CoolveticaEl-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Hv";
	font-style:italic;
	font-weight:900;
	src : url("../../font/CoolveticaHv-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Hv";
	font-style:oblique;
	font-weight:900;
	src : url("../../font/CoolveticaHv-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Hv";
	font-style:normal;
	font-weight:900;
	src : url("../../font/CoolveticaHv-Regular.otf");
}
@font-face {
	font-family:"Coolvetica Lt";
	font-style:italic;
	font-weight:300;
	src : url("../../font/CoolveticaLt-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Lt";
	font-style:oblique;
	font-weight:300;
	src : url("../../font/CoolveticaLt-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Rg";
	font-style:normal;
	font-weight:bold;
	src : url("../../font/CoolveticaRg-Bold.otf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:40px;
	color:#b32c2c;
	font-family:"Coolvetica Hv", sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:900;
	text-stroke-color:#000000;
	text-stroke-width:40px;
}
span.CharOverride-2 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:40px;
	color:#b32c2c;
	font-family:"Coolvetica Hv", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:900;
	text-stroke-color:#000000;
	text-stroke-width:40px;
}
span.CharOverride-3 {
	color:#414042;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#58595b;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#808285;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:280px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#808285;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#808285;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#6d6e71;
	font-family:"Coolvetica El", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:200;
}
span.CharOverride-10 {
	color:#414042;
	font-family:"Coolvetica Rg", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:100px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#414042;
	font-family:"Coolvetica Hv", sans-serif;
	font-size:720px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-16 {
	color:#000000;
	font-family:"Coolvetica Rg", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	color:#808285;
	font-family:"Coolvetica Rg", sans-serif;
	font-size:260px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	color:#58595b;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:280px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-19 {
	color:#414042;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer001 {
	-ms-transform:translate(610.000px,176.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(610.000px,176.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:668.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(610.000px,176.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(610.000px,176.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer002 {
	-ms-transform:translate(36.000px,325.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,325.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:355.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,325.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,325.250px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:184.00px;
}
#_idContainer003 {
	-ms-transform:translate(117.250px,559.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(117.250px,559.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(117.250px,559.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(117.250px,559.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:62.00px;
}
#_idContainer004 {
	-ms-transform:translate(36.000px,177.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,177.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,177.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,177.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:184.00px;
}
#_idContainer005 {
	-ms-transform:translate(36.000px,732.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,732.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,732.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,732.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:184.00px;
}
#_idContainer006 {
	-ms-transform:translate(53.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(53.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(53.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.00px;
}
#_idContainer007 {
	-ms-transform:translate(93.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(93.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(93.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(93.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.00px;
}
#_idContainer008 {
	-ms-transform:translate(134.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(134.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(134.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(134.250px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.00px;
}
#_idContainer009 {
	-ms-transform:translate(174.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(174.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(174.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(174.750px,751.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.00px;
}
#_idContainer010 {
	-ms-transform:translate(53.250px,708.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(53.250px,708.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.250px,708.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(53.250px,708.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.00px;
}
#_idContainer011 {
	-ms-transform:translate(718.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(718.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:558.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(718.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(718.500px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:737.00px;
}
#_idContainer012 {
	-ms-transform:translate(239.999px,178.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(239.999px,178.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:666.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(239.999px,178.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(239.999px,178.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:360.00px;
}
#_idContainer013 {
	-ms-transform:translate(1878.000px,372.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1878.000px,372.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:471.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1878.000px,372.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1878.000px,372.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:524.00px;
}
#_idContainer014 {
	-ms-transform:translate(718.500px,602.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(718.500px,602.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(718.500px,602.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(718.500px,602.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:737.00px;
}
#_idContainer015 {
	-ms-transform:translate(1878.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1878.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1878.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1878.000px,251.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:524.00px;
}
#_idContainer016 {
	-ms-transform:translate(718.500px,689.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(718.500px,689.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:156.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(718.500px,689.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(718.500px,689.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1144.50px;
}
#_idContainer017 {
	-ms-transform:translate(1467.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1467.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:645.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1467.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1467.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:396.00px;
}
#_idContainer018 {
	-ms-transform:translate(1878.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1878.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1878.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1878.000px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1081.00px;
}
#_idContainer019 {
	-ms-transform:translate(2417.000px,722.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2417.000px,722.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2417.000px,722.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2417.000px,722.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:542.00px;
}
#_idContainer020 {
	-ms-transform:translate(2417.000px,252.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2417.000px,252.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:460.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2417.000px,252.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2417.000px,252.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:542.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
