body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
body {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 720px;
  min-width: 4480px;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#bd9778;
	font-family:"coolvetica", sans-serif;
	font-size:227.4px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-2 {
	color:#939598;
	font-family:"coolvetica", sans-serif;
	font-size:227.4px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-3 {
	color:#bd9778;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-4 {
	color:#bd9778;
	font-family:"coolvetica", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#4d4d4f;
	font-family:"coolvetica", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#939598;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-7 {
	color:#939598;
	font-family:"coolvetica", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-8 {
	color:#4d4d4f;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-10 {
	color:#939598;
	font-family:"coolvetica", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-11 {
	color:#939598;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-12 {
	color:#4d4d4f;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-13 {
	color:#bd9778;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:200;
}
#_idContainer000 {
	-ms-transform:translate(2565.703px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2565.703px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:383.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2565.703px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2565.703px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:484.22px;
}
#_idContainer001 {
	-ms-transform:translate(3802.000px,13.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3802.000px,13.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:264.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3802.000px,13.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(3802.000px,13.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:735.37px;
}
#_idContainer002 {
	-ms-transform:translate(232.000px,14.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(232.000px,14.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:705.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(232.000px,14.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(232.000px,14.060px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:973.13px;
}
#_idContainer003 {
	-ms-transform:translate(2565.703px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2565.703px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:339.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2565.703px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2565.703px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:484.22px;
}
#_idContainer004 {
	-ms-transform:translate(4150.400px,58.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4150.400px,58.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:648.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4150.400px,58.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4150.400px,58.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.60px;
}
#_idContainer005 {
	-ms-transform:translate(3416.167px,422.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3416.167px,422.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:220.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3416.167px,422.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3416.167px,422.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:473.26px;
}
#_idContainer006 {
	-ms-transform:translate(3522.880px,115.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3522.880px,115.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:221.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3522.880px,115.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3522.880px,115.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:615.12px;
}
#_idContainer007 {
	-ms-transform:translate(3871.000px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3871.000px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:373.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3871.000px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3871.000px,336.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:287.07px;
}
#_idContainer008 {
	-ms-transform:translate(1647.991px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1647.991px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:705.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1647.991px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1647.991px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:551.47px;
}
#_idContainer009 {
	-ms-transform:translate(1197.825px,11.212px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1197.825px,11.212px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:695.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1197.825px,11.212px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1197.825px,11.212px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.62px;
}
#_idContainer010 {
	-ms-transform:translate(1458.219px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1458.219px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:247.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1458.219px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1458.219px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:183.77px;
}
#_idContainer011 {
	-ms-transform:translate(1298.449px,372.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1298.449px,372.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:337.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1298.449px,372.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1298.449px,372.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer012 {
	-ms-transform:translate(3066.625px,351.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3066.625px,351.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:359.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3066.625px,351.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3066.625px,351.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer013 {
	-ms-transform:translate(4174.000px,11.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4174.000px,11.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:223.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4174.000px,11.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4174.000px,11.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:290.00px;
}
#_idContainer014 {
	-ms-transform:translate(14.000px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.000px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.000px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.000px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:173.00px;
}
#_idContainer015 {
	-ms-transform:translate(2216.162px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2216.162px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:385.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2216.162px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2216.162px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer016 {
	-ms-transform:translate(2329.000px,436.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2329.000px,436.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:273.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2329.000px,436.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2329.000px,436.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:230.70px;
}
#_idContainer017 {
	-ms-transform:translate(3128.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3128.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3128.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3128.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:604.43px;
}
#_idContainer018 {
	-ms-transform:translate(3522.880px,183.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3522.880px,183.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3522.880px,183.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3522.880px,183.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.00px;
}
#_idContainer019 {
	-ms-transform:translate(4027.000px,224.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4027.000px,224.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4027.000px,224.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4027.000px,224.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.00px;
}
#_idContainer020 {
	-ms-transform:translate(3421.000px,627.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3421.000px,627.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3421.000px,627.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3421.000px,627.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:435.00px;
}
#_idContainer021 {
	-ms-transform:translate(-0.001px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:403.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:187.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
