body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
body {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 720px;
  min-width: 4950px;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#bd9f72;
	font-family:"coolvetica", sans-serif;
	font-size:227.4px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#808285;
	font-family:"coolvetica", sans-serif;
	font-size:227.4px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-3 {
	color:#bd9f72;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-4 {
	color:#808285;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-5 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-7 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-10 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:200;
}
span.CharOverride-11 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:200;
}
#_idContainer000 {
	-ms-transform:translate(231.999px,13.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(231.999px,13.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(231.999px,13.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(231.999px,13.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1114.46px;
}
#_idContainer001 {
	-ms-transform:translate(2776.000px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2776.000px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2776.000px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2776.000px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:754.85px;
}
#_idContainer002 {
	-ms-transform:translate(1802.621px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1802.621px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1802.621px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1802.621px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:494.26px;
}
#_idContainer003 {
	-ms-transform:translate(3910.390px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3910.390px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3910.390px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3910.390px,13.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1025.61px;
}
#_idContainer004 {
	-ms-transform:translate(1352.455px,12.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1352.455px,12.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:696.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1352.455px,12.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1352.455px,12.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.62px;
}
#_idContainer005 {
	-ms-transform:translate(1592.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1592.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:342.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1592.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1592.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:204.62px;
}
#_idContainer006 {
	-ms-transform:translate(1453.079px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1453.079px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:336.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1453.079px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1453.079px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer007 {
	-ms-transform:translate(2326.000px,233.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2326.000px,233.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:477.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2326.000px,233.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2326.000px,233.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:420.00px;
}
#_idContainer008 {
	-ms-transform:translate(2525.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2525.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:223.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2525.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2525.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:245.00px;
}
#_idContainer009 {
	-ms-transform:translate(-0.001px,82.838px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,82.838px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:624.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,82.838px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,82.838px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:187.00px;
}
#_idContainer010 {
	-ms-transform:translate(171.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(171.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(171.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(171.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer011 {
	-ms-transform:translate(151.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(151.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(151.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer012 {
	-ms-transform:translate(131.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(131.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(131.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(131.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer013 {
	-ms-transform:translate(111.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(111.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(111.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(111.999px,689.878px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer014 {
	-ms-transform:translate(13.999px,11.459px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.999px,11.459px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.999px,11.459px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.999px,11.459px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:173.00px;
}
#_idContainer015 {
	-ms-transform:translate(3560.849px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3560.849px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:336.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3560.849px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3560.849px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer016 {
	-ms-transform:translate(3717.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3717.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:342.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3717.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3717.000px,367.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:187.39px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
