body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:549.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:1797.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:1498px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:898.8px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-5 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:399.5px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-6 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:399.5px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-7 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:599.2px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:449.4px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-9 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:449.4px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-10 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:898.8px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:898.8px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-12 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:449.4px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:898.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:499.3px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-15 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:349.5px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-16 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:399.5px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-ms-transform:translate(23.999px,108.841px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.999px,108.841px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:312.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.999px,108.841px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.999px,108.841px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:881.34px;
}
#_idContainer001 {
	-ms-transform:translate(24.000px,11.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,11.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:108.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,11.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,11.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.56px;
}
#_idContainer002 {
	-ms-transform:translate(1069.742px,12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1069.742px,12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1069.742px,12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1069.742px,12.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:362.40px;
}
#_idContainer003 {
	-ms-transform:translate(24.000px,2721.179px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,2721.179px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,2721.179px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,2721.179px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.56px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:363.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:287.62px;
}
#_idContainer005 {
	-ms-transform:translate(287.621px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(287.621px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:363.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(287.621px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(287.621px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.56px;
}
#_idContainer006, #_idContainer007 {
	-ms-transform:translate(0.000px,362.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,362.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,362.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,362.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:622.18px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,466.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,466.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:377.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,466.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,466.204px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:622.18px;
}
#_idContainer009 {
	-ms-transform:translate(809.964px,2721.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(809.964px,2721.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:842.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(809.964px,2721.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(809.964px,2721.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:622.18px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:478.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:297.86px;
}
#_idContainer011, #_idContainer012 {
	-ms-transform:translate(0.000px,477.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,477.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:85.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,477.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,477.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:297.86px;
}
#_idContainer013 {
	-ms-transform:translate(329.565px,-5.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(329.565px,-5.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:568.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(329.565px,-5.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(329.565px,-5.525px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:219.71px;
}
#_idContainer014 {
	-ms-transform:translate(24.000px,2933.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,2933.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:562.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,2933.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,2933.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:549.28px;
}
#_idContainer015 {
	-ms-transform:translate(256.194px,490.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(256.194px,490.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:127.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(256.194px,490.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(256.194px,490.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1175.95px;
}
#_idContainer016 {
	-ms-transform:translate(980.240px,657.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(980.240px,657.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(980.240px,657.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(980.240px,657.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:451.90px;
}
#_idContainer017 {
	-ms-transform:translate(28.369px,1120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(28.369px,1120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.369px,1120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(28.369px,1120.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:481.87px;
}
#_idContainer018 {
	-ms-transform:translate(1032.670px,2066.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1032.670px,2066.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1032.670px,2066.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1032.670px,2066.008px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:399.47px;
}
#_idContainer019 {
	-ms-transform:translate(408.493px,789.773px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(408.493px,789.773px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:278.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(408.493px,789.773px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(408.493px,789.773px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1023.65px;
}
#_idContainer020 {
	-ms-transform:translate(40.852px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(40.852px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.852px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(40.852px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.00px;
}
#_idContainer021 {
	-ms-transform:translate(541.443px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(541.443px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(541.443px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(541.443px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.00px;
}
#_idContainer022 {
	-ms-transform:translate(1045.778px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1045.778px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1045.778px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1045.778px,1253.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.00px;
}
#_idContainer023 {
	-ms-transform:translate(1045.778px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1045.778px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1045.778px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1045.778px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.00px;
}
#_idContainer024 {
	-ms-transform:translate(40.852px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(40.852px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.852px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(40.852px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.00px;
}
#_idContainer025 {
	-ms-transform:translate(541.443px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(541.443px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:278.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(541.443px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(541.443px,1340.710px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:382.00px;
}
#_idContainer026 {
	-ms-transform:translate(28.369px,1673.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(28.369px,1673.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:276.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.369px,1673.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(28.369px,1673.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1408.14px;
}
#_idContainer027 {
	-ms-transform:translate(610.726px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(610.726px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(610.726px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(610.726px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer028 {
	-ms-transform:translate(317.769px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(317.769px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(317.769px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(317.769px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.28px;
}
#_idContainer029 {
	-ms-transform:translate(904.090px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(904.090px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(904.090px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(904.090px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer030 {
	-ms-transform:translate(24.000px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer031 {
	-ms-transform:translate(1197.453px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1197.453px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1197.453px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1197.453px,2193.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer032 {
	-ms-transform:translate(610.726px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(610.726px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:334.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(610.726px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(610.726px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer033 {
	-ms-transform:translate(317.363px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(317.363px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:334.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(317.363px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(317.363px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer034 {
	-ms-transform:translate(1197.453px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1197.453px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:334.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1197.453px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1197.453px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer035 {
	-ms-transform:translate(904.090px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(904.090px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:334.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(904.090px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(904.090px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
#_idContainer036 {
	-ms-transform:translate(23.999px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.999px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:334.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.999px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.999px,2272.361px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:234.69px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
