body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"coolvetica", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-5 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:160px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-6 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:160px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-7 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:180px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-9 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:180px;
	font-style:italic;
	font-weight:900;
}
span.CharOverride-10 {
	color:#1e2c50;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-12 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:180px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#c1937c;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-15 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:140px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-16 {
	color:#333333;
	font-family:"coolvetica", sans-serif;
	font-size:160px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-ms-transform:translate(24.000px,50.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,50.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,50.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,50.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:353.00px;
}
#_idContainer001 {
	-ms-transform:translate(24.000px,10.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,10.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,10.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,10.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:134.00px;
}
#_idContainer002 {
	-ms-transform:translate(442.847px,11.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(442.847px,11.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:102.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(442.847px,11.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(442.847px,11.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:145.15px;
}
#_idContainer003 {
	-ms-transform:translate(24.000px,1096.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,1096.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,1096.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,1096.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:134.00px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.20px;
}
#_idContainer005 {
	-ms-transform:translate(115.200px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(115.200px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(115.200px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(115.200px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:134.00px;
}
#_idContainer006, #_idContainer007 {
	-ms-transform:translate(0.000px,144.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,144.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,144.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,144.700px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:249.20px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,186.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,186.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,186.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,186.127px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:249.20px;
}
#_idContainer009 {
	-ms-transform:translate(338.800px,1097.051px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.800px,1097.051px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:337.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(338.800px,1097.051px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.800px,1097.051px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:249.20px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.30px;
}
#_idContainer011, #_idContainer012 {
	-ms-transform:translate(0.000px,190.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,190.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,190.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,190.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.30px;
}
#_idContainer013 {
	-ms-transform:translate(132.000px,-2.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.000px,-2.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.000px,-2.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.000px,-2.813px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:88.00px;
}
#_idContainer014 {
	-ms-transform:translate(24.000px,1182.108px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,1182.108px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:225.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,1182.108px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,1182.108px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:220.00px;
}
#_idContainer015 {
	-ms-transform:translate(117.000px,203.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(117.000px,203.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(117.000px,203.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(117.000px,203.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:471.00px;
}
#_idContainer016 {
	-ms-transform:translate(406.999px,269.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(406.999px,269.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(406.999px,269.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(406.999px,269.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:181.00px;
}
#_idContainer017 {
	-ms-transform:translate(25.750px,455.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.750px,455.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.750px,455.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.750px,455.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:193.00px;
}
#_idContainer018 {
	-ms-transform:translate(428.000px,834.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(428.000px,834.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(428.000px,834.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(428.000px,834.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:160.00px;
}
#_idContainer019 {
	-ms-transform:translate(178.000px,322.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(178.000px,322.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(178.000px,322.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(178.000px,322.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:410.00px;
}
#_idContainer020 {
	-ms-transform:translate(30.750px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(30.750px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(30.750px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(30.750px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.00px;
}
#_idContainer021 {
	-ms-transform:translate(231.249px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(231.249px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(231.249px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(231.249px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.00px;
}
#_idContainer022 {
	-ms-transform:translate(433.250px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(433.250px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(433.250px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(433.250px,508.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.00px;
}
#_idContainer023 {
	-ms-transform:translate(433.250px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(433.250px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(433.250px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(433.250px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.00px;
}
#_idContainer024 {
	-ms-transform:translate(30.750px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(30.750px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(30.750px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(30.750px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.00px;
}
#_idContainer025 {
	-ms-transform:translate(231.249px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(231.249px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(231.249px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(231.249px,543.584px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.00px;
}
#_idContainer026 {
	-ms-transform:translate(25.750px,677.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.750px,677.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.750px,677.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.750px,677.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:564.00px;
}
#_idContainer027 {
	-ms-transform:translate(259.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(259.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(259.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(259.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer028 {
	-ms-transform:translate(141.662px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(141.662px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(141.662px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(141.662px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:93.84px;
}
#_idContainer029 {
	-ms-transform:translate(376.500px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(376.500px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(376.500px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(376.500px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer030 {
	-ms-transform:translate(24.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer031 {
	-ms-transform:translate(494.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(494.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(494.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(494.000px,885.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer032 {
	-ms-transform:translate(259.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(259.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(259.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(259.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer033 {
	-ms-transform:translate(141.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(141.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(141.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(141.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer034 {
	-ms-transform:translate(493.999px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(493.999px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.999px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(493.999px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer035 {
	-ms-transform:translate(376.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(376.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(376.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(376.500px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
#_idContainer036 {
	-ms-transform:translate(24.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.000px,916.736px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:94.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
