body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#bd9f72;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-2 {
	color:#808285;
	font-family:"coolvetica", sans-serif;
	font-size:227.4px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-3 {
	color:#808285;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-4 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-6 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-7 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-10 {
	color:#282829;
	font-family:"coolvetica", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:200;
}
#_idContainer000 {
	-ms-transform:translate(1450.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1450.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:294.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1450.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1450.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.62px;
}
#_idContainer001 {
	-ms-transform:translate(3684.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3684.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:251.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3684.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3684.000px,11.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:137.17px;
}
#_idContainer002 {
	-ms-transform:translate(1474.000px,447.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1474.000px,447.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:263.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1474.000px,447.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1474.000px,447.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer003 {
	-ms-transform:translate(4766.541px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4766.541px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4766.541px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4766.541px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer004 {
	-ms-transform:translate(2611.000px,608.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2611.000px,608.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2611.000px,608.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2611.000px,608.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:127.54px;
}
#_idContainer005 {
	-ms-transform:translate(172.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(172.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(172.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(172.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer006 {
	-ms-transform:translate(152.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(152.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(152.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(152.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer007 {
	-ms-transform:translate(132.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer008 {
	-ms-transform:translate(112.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(112.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(112.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(112.000px,689.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.00px;
}
#_idContainer009 {
	-ms-transform:translate(14.000px,11.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.000px,11.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.000px,11.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.000px,11.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:173.00px;
}
#_idContainer010 {
	-ms-transform:translate(2635.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2635.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:262.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2635.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2635.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer011 {
	-ms-transform:translate(4995.930px,508.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4995.930px,508.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:201.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4995.930px,508.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4995.930px,508.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.15px;
}
#_idContainer012 {
	-ms-transform:translate(13.999px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.999px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:624.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.999px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.999px,82.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:173.00px;
}
#_idContainer013 {
	-ms-transform:translate(4744.000px,474.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4744.000px,474.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:235.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4744.000px,474.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4744.000px,474.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:122.00px;
}
#_idContainer014 {
	-ms-transform:translate(232.000px,13.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(232.000px,13.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(232.000px,13.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(232.000px,13.939px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1212.00px;
}
#_idContainer015 {
	-ms-transform:translate(3708.000px,359.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3708.000px,359.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:351.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3708.000px,359.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3708.000px,359.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:306.54px;
}
#_idContainer016 {
	-ms-transform:translate(1823.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1823.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1823.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1823.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:781.46px;
}
#_idContainer017 {
	-ms-transform:translate(2984.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2984.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2984.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2984.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:693.46px;
}
#_idContainer018 {
	-ms-transform:translate(4044.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4044.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4044.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4044.541px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:692.00px;
}
#_idContainer019 {
	-ms-transform:translate(5116.083px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5116.083px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5116.083px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5116.083px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:689.92px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
