@font-face {
	font-family:"Coolvetica Bk";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/CoolveticaBk-Regular.otf");
}
@font-face {
	font-family:"Coolvetica El";
	font-style:normal;
	font-weight:200;
	src : url("../../font/CoolveticaEl-Regular.otf");
}
@font-face {
	font-family:"Coolvetica Lt";
	font-style:italic;
	font-weight:300;
	src : url("../../font/CoolveticaLt-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Lt";
	font-style:oblique;
	font-weight:300;
	src : url("../../font/CoolveticaLt-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Lt";
	font-style:normal;
	font-weight:300;
	src : url("../../font/CoolveticaLt-Regular.otf");
}
@font-face {
	font-family:"Coolvetica Ul";
	font-style:italic;
	font-weight:200;
	src : url("../../font/CoolveticaUl-Italic.otf");
}
@font-face {
	font-family:"Coolvetica Ul";
	font-style:oblique;
	font-weight:200;
	src : url("../../font/CoolveticaUl-Italic.otf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#906c5c;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:227.4px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-2 {
	color:#939598;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-3 {
	color:#906c5c;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-4 {
	color:#a18273;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-5 {
	color:#4d4d4f;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#906c5c;
	font-family:"Coolvetica Bk", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#4d4d4f;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#939598;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	color:#939598;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-10 {
	color:#4d4d4f;
	font-family:"Coolvetica Lt", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-11 {
	color:#906c5c;
	font-family:"Coolvetica Ul", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:200;
}
span.CharOverride-12 {
	color:#939598;
	font-family:"Coolvetica El", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:200;
}
#_idContainer000 {
	-ms-transform:translate(614.376px,11.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(614.376px,11.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:695.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(614.376px,11.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(614.376px,11.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.62px;
}
#_idContainer001 {
	-ms-transform:translate(1831.160px,249.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1831.160px,249.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:469.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1831.160px,249.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1831.160px,249.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:616.94px;
}
#_idContainer002 {
	-ms-transform:translate(231.208px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(231.208px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:705.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(231.208px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(231.208px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:391.03px;
}
#_idContainer003 {
	-ms-transform:translate(1064.165px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1064.165px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:705.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1064.165px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1064.165px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:751.05px;
}
#_idContainer004 {
	-ms-transform:translate(1831.536px,213.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1831.536px,213.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1831.536px,213.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1831.536px,213.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:602.89px;
}
#_idContainer005 {
	-ms-transform:translate(739.000px,555.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(739.000px,555.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:154.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(739.000px,555.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(739.000px,555.756px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer006 {
	-ms-transform:translate(2465.610px,517.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2465.610px,517.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:192.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2465.610px,517.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2465.610px,517.811px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:454.39px;
}
#_idContainer007 {
	-ms-transform:translate(715.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(715.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:541.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(715.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(715.000px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.54px;
}
#_idContainer008 {
	-ms-transform:translate(1831.536px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1831.536px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:179.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1831.536px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1831.536px,10.567px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:602.89px;
}
#_idContainer009 {
	-ms-transform:translate(2464.798px,390.696px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2464.798px,390.696px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2464.798px,390.696px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2464.798px,390.696px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:455.20px;
}
#_idContainer010 {
	-ms-transform:translate(2464.798px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2464.798px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:386.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2464.798px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2464.798px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:468.50px;
}
#_idContainer011 {
	-ms-transform:translate(-1.000px,82.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.000px,82.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:332.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.000px,82.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.000px,82.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:187.00px;
}
#_idContainer012 {
	-ms-transform:translate(13.999px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.999px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.999px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.999px,11.581px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:172.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
