body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#414042;
	font-family:"coolvetica", sans-serif;
	font-size:506px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#d4a679;
	font-family:"coolvetica", sans-serif;
	font-size:506px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:798px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#cf9c6a;
	font-family:"coolvetica", sans-serif;
	font-size:506px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	-webkit-text-stroke-color:#1c294c;
	-webkit-text-stroke-width:5px;
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:638px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#1c294c;
	text-stroke-width:5px;
}
span.CharOverride-6 {
	color:#cf9c6a;
	font-family:"coolvetica", sans-serif;
	font-size:478px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:506px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#333e5e;
	font-family:"coolvetica", sans-serif;
	font-size:506px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#d4a679;
	font-family:"coolvetica", sans-serif;
	font-size:506px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#1f294e;
	font-family:"coolvetica", sans-serif;
	font-size:798px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#d4a679;
	font-family:"coolvetica", sans-serif;
	font-size:478px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#414042;
	font-family:"coolvetica", sans-serif;
	font-size:478px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:478px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	-webkit-text-stroke-color:#1c294c;
	-webkit-text-stroke-width:5px;
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:478px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#1c294c;
	text-stroke-width:5px;
}
span.CharOverride-15 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:292px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#414042;
	font-family:"coolvetica", sans-serif;
	font-size:372px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#cf9c6a;
	font-family:"Bungee Shade", sans-serif;
	font-size:1920px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-18 {
	color:#1c294c;
	font-family:"Bungee Shade", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:800;
}
#_idContainer000 {
	-ms-transform:translate(619.249px,556.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,556.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:494.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,556.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,556.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
#_idContainer001 {
	-ms-transform:translate(619.249px,422.895px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,422.895px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,422.895px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,422.895px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
#_idContainer002 {
	-ms-transform:translate(85.751px,63.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.751px,63.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:270.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.751px,63.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.751px,63.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:439.09px;
}
#_idContainer003 {
	-ms-transform:translate(27.000px,1812.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,1812.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1360.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,1812.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,1812.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:526.07px;
}
#_idContainer004 {
	-ms-transform:translate(619.249px,3990.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,3990.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1371.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,3990.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,3990.239px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
#_idContainer005 {
	-ms-transform:translate(290.032px,6433.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(290.032px,6433.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:366.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(290.032px,6433.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(290.032px,6433.150px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1048.97px;
}
#_idContainer006 {
	-ms-transform:translate(27.000px,5385.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,5385.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1013.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,5385.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,5385.950px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:526.07px;
}
#_idContainer007 {
	-ms-transform:translate(27.000px,6832.815px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,6832.815px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:620.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,6832.815px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,6832.815px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1312.00px;
}
#_idContainer008 {
	-ms-transform:translate(619.249px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:407.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
#_idContainer009 {
	-ms-transform:translate(57.525px,327.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,327.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,327.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,327.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer010 {
	-ms-transform:translate(57.525px,452.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,452.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,452.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,452.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer011 {
	-ms-transform:translate(1090.323px,348.833px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1090.323px,348.833px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1090.323px,348.833px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1090.323px,348.833px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:248.68px;
}
#_idContainer012 {
	-ms-transform:translate(57.525px,678.826px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,678.826px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,678.826px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,678.826px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer013 {
	-ms-transform:translate(57.525px,722.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,722.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,722.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,722.967px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer014 {
	-ms-transform:translate(57.525px,767.107px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,767.107px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,767.107px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,767.107px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer015 {
	-ms-transform:translate(57.525px,811.248px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,811.248px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,811.248px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,811.248px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer016 {
	-ms-transform:translate(57.525px,855.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,855.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,855.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,855.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer017 {
	-ms-transform:translate(57.525px,613.314px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.525px,613.314px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.525px,613.314px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.525px,613.314px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.54px;
}
#_idContainer018 {
	-ms-transform:translate(27.000px,1050.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,1050.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:723.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,1050.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,1050.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1312.00px;
}
#_idContainer019 {
	-ms-transform:translate(27.000px,1004.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,1004.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,1004.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,1004.427px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.57px;
}
#_idContainer020 {
	-ms-transform:translate(608.253px,1858.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(608.253px,1858.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:257.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(608.253px,1858.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(608.253px,1858.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:236.46px;
}
#_idContainer021 {
	-ms-transform:translate(820.353px,2139.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(820.353px,2139.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(820.353px,2139.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(820.353px,2139.876px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:341.60px;
}
#_idContainer022 {
	-ms-transform:translate(614.682px,2408.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(614.682px,2408.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:242.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(614.682px,2408.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(614.682px,2408.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:282.02px;
}
#_idContainer023 {
	-ms-transform:translate(883.983px,2675.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(883.983px,2675.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:254.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(883.983px,2675.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(883.983px,2675.251px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.29px;
}
#_idContainer024 {
	-ms-transform:translate(561.651px,2953.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(561.651px,2953.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:234.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(561.651px,2953.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(561.651px,2953.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:327.34px;
}
#_idContainer025 {
	-ms-transform:translate(619.249px,1793.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,1793.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,1793.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,1793.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
#_idContainer026 {
	-ms-transform:translate(1075.724px,1953.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1075.724px,1953.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1075.724px,1953.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1075.724px,1953.958px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:263.28px;
}
#_idContainer027 {
	-ms-transform:translate(1075.724px,2243.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1075.724px,2243.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1075.724px,2243.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1075.724px,2243.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:263.28px;
}
#_idContainer028 {
	-ms-transform:translate(1075.724px,2497.318px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1075.724px,2497.318px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1075.724px,2497.318px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1075.724px,2497.318px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:263.28px;
}
#_idContainer029 {
	-ms-transform:translate(1075.724px,2772.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1075.724px,2772.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1075.724px,2772.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1075.724px,2772.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:263.28px;
}
#_idContainer030 {
	-ms-transform:translate(1075.724px,3040.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1075.724px,3040.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1075.724px,3040.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1075.724px,3040.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:263.28px;
}
#_idContainer031 {
	-ms-transform:translate(909.047px,2445.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(909.047px,2445.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:184.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(909.047px,2445.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(909.047px,2445.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:237.48px;
}
#_idContainer032 {
	-ms-transform:translate(920.970px,2999.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(920.970px,2999.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(920.970px,2999.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(920.970px,2999.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:203.48px;
}
#_idContainer033 {
	-ms-transform:translate(608.010px,2223.359px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(608.010px,2223.359px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(608.010px,2223.359px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(608.010px,2223.359px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:191.98px;
}
#_idContainer034 {
	-ms-transform:translate(608.010px,2723.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(608.010px,2723.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:178.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(608.010px,2723.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(608.010px,2723.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:208.34px;
}
#_idContainer035 {
	-ms-transform:translate(1087.268px,2059.389px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1087.268px,2059.389px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:130.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1087.268px,2059.389px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1087.268px,2059.389px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.29px;
}
#_idContainer036 {
	-ms-transform:translate(889.568px,2063.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(889.568px,2063.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(889.568px,2063.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(889.568px,2063.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:197.70px;
}
#_idContainer037 {
	-ms-transform:translate(606.885px,2342.572px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(606.885px,2342.572px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(606.885px,2342.572px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(606.885px,2342.572px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:197.70px;
}
#_idContainer038 {
	-ms-transform:translate(928.939px,2581.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(928.939px,2581.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(928.939px,2581.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(928.939px,2581.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:197.70px;
}
#_idContainer039 {
	-ms-transform:translate(613.330px,2898.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(613.330px,2898.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(613.330px,2898.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(613.330px,2898.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:197.70px;
}
#_idContainer040 {
	-ms-transform:translate(920.970px,3150.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(920.970px,3150.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(920.970px,3150.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(920.970px,3150.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:197.70px;
}
#_idContainer041 {
	-ms-transform:translate(27.000px,3225.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,3225.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:728.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,3225.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,3225.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1312.00px;
}
#_idContainer042 {
	-ms-transform:translate(27.000px,3183.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,3183.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,3183.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,3183.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.43px;
}
#_idContainer043 {
	-ms-transform:translate(27.000px,4024.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,4024.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1336.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,4024.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,4024.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:526.07px;
}
#_idContainer044 {
	-ms-transform:translate(27.000px,3978.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,3978.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,3978.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,3978.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.43px;
}
#_idContainer045 {
	-ms-transform:translate(619.249px,5600.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,5600.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:798.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,5600.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,5600.278px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
#_idContainer046 {
	-ms-transform:translate(619.249px,5276.766px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(619.249px,5276.766px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:273.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(619.249px,5276.766px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(619.249px,5276.766px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:719.75px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
