body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	font-family:"coolvetica", sans-serif;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#414042;
	font-family:"coolvetica", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#d4a679;
	font-family:"coolvetica", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#cf9c6a;
	font-family:"coolvetica", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	-webkit-text-stroke-color:#1c294c;
	-webkit-text-stroke-width:5px;
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#1c294c;
	text-stroke-width:5px;
}
span.CharOverride-6 {
	color:#cf9c6a;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#333e5e;
	font-family:"coolvetica", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#d4a679;
	font-family:"coolvetica", sans-serif;
	font-size:380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#1f294e;
	font-family:"coolvetica", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#d4a679;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#414042;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	-webkit-text-stroke-color:#1c294c;
	-webkit-text-stroke-width:5px;
	color:#1c294c;
	font-family:"coolvetica", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#1c294c;
	text-stroke-width:5px;
}
span.CharOverride-15 {
	color:#6d6e71;
	font-family:"coolvetica", sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#414042;
	font-family:"coolvetica", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#cf9c6a;
	font-family:"Bungee Shade", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-18 {
	color:#1c294c;
	font-family:"Bungee Shade", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:800;
}
#_idContainer000 {
	-ms-transform:translate(465.120px,417.391px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.120px,417.391px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:371.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.120px,417.391px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.120px,417.391px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
#_idContainer001 {
	-ms-transform:translate(465.119px,316.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.119px,316.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.119px,316.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.119px,316.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
#_idContainer002 {
	-ms-transform:translate(70.461px,47.932px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.461px,47.932px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:203.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.461px,47.932px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.461px,47.932px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:324.82px;
}
#_idContainer003 {
	-ms-transform:translate(27.000px,1358.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,1358.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1021.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,1358.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,1358.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:389.16px;
}
#_idContainer004 {
	-ms-transform:translate(465.120px,2991.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.120px,2991.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1029.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.120px,2991.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.120px,2991.918px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
#_idContainer005 {
	-ms-transform:translate(221.580px,4824.351px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(221.580px,4824.351px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:275.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(221.580px,4824.351px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(221.580px,4824.351px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:775.98px;
}
#_idContainer006 {
	-ms-transform:translate(27.000px,4038.951px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,4038.951px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:762.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,4038.951px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,4038.951px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:389.16px;
}
#_idContainer007 {
	-ms-transform:translate(27.000px,5124.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,5124.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:465.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,5124.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,5124.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.56px;
}
#_idContainer008 {
	-ms-transform:translate(465.119px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.119px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:307.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.119px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.119px,-8.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
#_idContainer009 {
	-ms-transform:translate(49.581px,245.344px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,245.344px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,245.344px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,245.344px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer010 {
	-ms-transform:translate(49.581px,339.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,339.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,339.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,339.443px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer011 {
	-ms-transform:translate(813.600px,261.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(813.600px,261.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(813.600px,261.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(813.600px,261.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:183.96px;
}
#_idContainer012 {
	-ms-transform:translate(49.581px,508.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,508.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,508.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,508.869px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer013 {
	-ms-transform:translate(49.581px,541.975px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,541.975px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,541.975px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,541.975px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer014 {
	-ms-transform:translate(49.581px,575.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,575.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,575.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,575.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer015 {
	-ms-transform:translate(49.581px,608.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,608.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,608.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,608.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer016 {
	-ms-transform:translate(49.581px,641.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,641.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,641.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,641.292px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer017 {
	-ms-transform:translate(49.581px,459.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(49.581px,459.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.581px,459.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(49.581px,459.735px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.58px;
}
#_idContainer018 {
	-ms-transform:translate(27.000px,787.642px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,787.642px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:542.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,787.642px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,787.642px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.56px;
}
#_idContainer019 {
	-ms-transform:translate(27.000px,753.070px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,753.070px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,753.070px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,753.070px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:247.50px;
}
#_idContainer020 {
	-ms-transform:translate(456.985px,1393.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(456.985px,1393.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:192.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(456.985px,1393.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(456.985px,1393.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:174.92px;
}
#_idContainer021 {
	-ms-transform:translate(613.888px,1604.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(613.888px,1604.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:183.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(613.888px,1604.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(613.888px,1604.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:252.70px;
}
#_idContainer022 {
	-ms-transform:translate(461.741px,1806.573px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(461.741px,1806.573px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(461.741px,1806.573px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(461.741px,1806.573px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:208.63px;
}
#_idContainer023 {
	-ms-transform:translate(660.958px,2006.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(660.958px,2006.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:190.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(660.958px,2006.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(660.958px,2006.438px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:201.43px;
}
#_idContainer024 {
	-ms-transform:translate(422.511px,2215.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(422.511px,2215.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:175.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(422.511px,2215.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(422.511px,2215.322px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:242.15px;
}
#_idContainer025 {
	-ms-transform:translate(465.120px,1344.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.120px,1344.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.120px,1344.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.120px,1344.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
#_idContainer026 {
	-ms-transform:translate(802.800px,1465.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.800px,1465.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.800px,1465.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.800px,1465.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.76px;
}
#_idContainer027 {
	-ms-transform:translate(802.800px,1682.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.800px,1682.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.800px,1682.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.800px,1682.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.76px;
}
#_idContainer028 {
	-ms-transform:translate(802.800px,1872.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.800px,1872.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.800px,1872.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.800px,1872.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.76px;
}
#_idContainer029 {
	-ms-transform:translate(802.800px,2078.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.800px,2078.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.800px,2078.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.800px,2078.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.76px;
}
#_idContainer030 {
	-ms-transform:translate(802.800px,2280.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.800px,2280.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.800px,2280.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.800px,2280.258px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.76px;
}
#_idContainer031 {
	-ms-transform:translate(679.500px,1834.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(679.500px,1834.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:138.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(679.500px,1834.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.500px,1834.498px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:175.68px;
}
#_idContainer032 {
	-ms-transform:translate(688.320px,2249.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(688.320px,2249.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(688.320px,2249.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(688.320px,2249.280px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.53px;
}
#_idContainer033 {
	-ms-transform:translate(456.806px,1667.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(456.806px,1667.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(456.806px,1667.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(456.806px,1667.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:142.01px;
}
#_idContainer034 {
	-ms-transform:translate(456.806px,2042.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(456.806px,2042.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(456.806px,2042.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(456.806px,2042.699px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:154.12px;
}
#_idContainer035 {
	-ms-transform:translate(811.340px,1544.542px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(811.340px,1544.542px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:98.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(811.340px,1544.542px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(811.340px,1544.542px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:160.00px;
}
#_idContainer036 {
	-ms-transform:translate(665.090px,1547.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(665.090px,1547.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(665.090px,1547.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(665.090px,1547.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.25px;
}
#_idContainer037 {
	-ms-transform:translate(455.974px,1756.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(455.974px,1756.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(455.974px,1756.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(455.974px,1756.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.25px;
}
#_idContainer038 {
	-ms-transform:translate(694.215px,1935.561px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(694.215px,1935.561px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(694.215px,1935.561px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(694.215px,1935.561px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.25px;
}
#_idContainer039 {
	-ms-transform:translate(460.741px,2173.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(460.741px,2173.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(460.741px,2173.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(460.741px,2173.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.25px;
}
#_idContainer040 {
	-ms-transform:translate(688.320px,2362.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(688.320px,2362.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(688.320px,2362.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(688.320px,2362.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.25px;
}
#_idContainer041 {
	-ms-transform:translate(27.000px,2419.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,2419.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:546.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,2419.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,2419.200px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.56px;
}
#_idContainer042 {
	-ms-transform:translate(27.000px,2387.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,2387.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,2387.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,2387.166px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:352.44px;
}
#_idContainer043 {
	-ms-transform:translate(27.000px,3018.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,3018.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1002.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,3018.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,3018.240px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:389.16px;
}
#_idContainer044 {
	-ms-transform:translate(27.000px,2983.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(27.000px,2983.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.000px,2983.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(27.000px,2983.400px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:352.44px;
}
#_idContainer045 {
	-ms-transform:translate(465.120px,4200.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.120px,4200.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:598.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.120px,4200.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.120px,4200.209px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
#_idContainer046 {
	-ms-transform:translate(465.120px,3957.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(465.120px,3957.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(465.120px,3957.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(465.120px,3957.299px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:532.44px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
